
  .envelope{
    width:500px;
    height:300px;
    background-color:#50748B;
    margin: 15% auto;
    position:relative;
    cursor:pointer;
    z-index:1;
  }
  .envelope:before{
    content:"";
    top:0;
    right:0;
    z-index:3;
    position:absolute;
    border-left:500px solid transparent;
    border-bottom:300px solid #4686A9;
  }
  .envelope:after{
    content:"";
    top:0;
    left:0;
    z-index:3;
    position:absolute;
    border-right:500px solid transparent;
    border-bottom:300px solid #4686A9;
  }
  .back{
    position:absolute;
    top:0;
    z-index:-1;
    transform-origin:top;
    border-top:150px solid #4686A9;
    border-left:250px solid transparent;
    border-right:250px solid transparent;
    transition: all 1s ease-in-out;
    transform: rotateX(180deg);
  }
  .letter{
    position:relative;
    top:0;
    padding:20px 10px;
    width:400px;
    height:200px;
    overflow:hidden;
    z-index:2;
    margin: 0 auto;
    background-color:#F1EBE3;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    transition: all 1s ease-in-out;
    border: 1px solid #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
      -moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
      -webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
  }
  label{
    color: #b3aba1;
    margin:0 20px;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #fff;
    font-size: 13px;
  }
  input,textarea{
    width: 90%;
    height:35px;
    display:block;
    margin: 5px auto;
    padding:5px;
    background:none;
    outline:  none;
    color: #7c7873;
    border: 1px solid #f8f5f1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 0px 0px 1px #726959;
    -webkit-box-shadow: inset 0px 0px 1px #b3a895;
    box-shadow: inset 0px 0px 1px #b3a895;
  }
  textarea{
    height:105px;
    max-height:105px;
    max-width:90%;
    background:repeating-linear-gradient(to bottom, transparent, transparent 20px, #ddd 20px, #ddd 21px);
    line-height:20px;
  }
  input:focus,textarea:focus{
    background-color:#F8F4EE;
  }
  input[type=submit]{
    color: #7c7873;
    cursor:pointer;
    position:relative;
    text-transform: uppercase;
  }
  input:hover[type=submit] {
    color: #435c70;
    background-color:#F8F4EE;
  }
  .envelope:hover .back{
     transform: rotateX(180deg);
  }
  .envelope:hover .letter{
    top:-300px;
    height:500px;
  }
  .letter:hover input[type=submit]{
    z-index:10;
    transition: all .5s ease-in-out;
  }

  
   
 